{{!-- dont use ! on these pages, get get css from layout page --}}
<div class="home-container">
{{>nav}}
<h1 id="home-title">
  {{title}}
</h1>
{{>header}}
<p id="home-message">
  {{message}}
</p>
</div>