* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

.home-nav {
  height: 5vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  background-color: gray;
}

#home-start {
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-todo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-container {
  width: 100vw;
  height: 100vh;
}

.header-header {
  padding: 10px;
}

#home-message {
  padding-left: 10px;
  padding-top: 10px;
}

#home-title {
  padding: 10px;
}

.todos-container {
  height: 100vh;
  width: 100vw;
}

.todo-filters {
  display: flex;
  height: 50px;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(163, 163, 163);
}

.todo-create {
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todos-list {
  width: 100vw;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}
.todo-empty {
  height: 200px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-true {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: line-through;
}

.todo-false {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addtodo-container {
  width: 100vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addtodo-title {
  padding: 15px;
}
.single-container {
  width: 100vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.single-links {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.delete-container {
  width: 100vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#delete-title {
  padding-bottom: 15px;
  padding-top: 10px;
}

.edit-container {
  width: 100vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.edit-form {
  height: 150px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
